# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
testenv
testenv*
testenv.yml

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Local Netlify folder
.netlify

.docusaurus
docs/docs/api/*

.vite

docs/.vitepress/cache
docs/.vitepress/dist
docs/api/*
!docs/api/index.md

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/ts-jest.log

# Misc
.DS_Store
*.pem

!.gitkeep
